# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
.pnpm-store/
dist/
build/

# Drizzle
migrations/drizzle/migrations/
.drizzle/*

# Editor/OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Docker
*.log


